<div [class.d-block]="isShowVideo" [class.d-none]="!isShowVideo">
    <div class="d-flex align-items-center video-area"><video id="video" class="bg-black" src="" autoplay muted playsinline></video></div>
    <div class="d-none"><canvas id="canvas"></canvas></div>
</div>
<div class="p-3">
    <div class="w-50 mx-auto mb-3">
        <button *ngIf="stream === null" type="button" class="btn btn-primary btn-block" (click)="start()">カメラで読込</button>
        <button *ngIf="stream !== null" type="button" class="btn btn-danger btn-block" (click)="stop()">カメラを停止</button>
    </div>
    <div *ngIf="!(isLoading | async)" class="mb-3">
        <div *ngIf="qrcodeToken | async">
            <div *ngIf="(qrcodeToken | async).isAvailable" class="p-4 bg-success text-white text-center">
                <div class="flash-text large-x-text font-weight-bold mb-2">OK</div>
                <p>座席: {{ (qrcodeToken | async).availableReservation.reservedTicket.ticketedSeat.seatNumber }}</p>
                <p>入場回数: {{ (qrcodeToken | async).checkTokenActions.length }}</p>
            </div>
            <div *ngIf="!(qrcodeToken | async).isAvailable" class="p-4 bg-warning text-white text-center">
                <div class="flash-text large-x-text font-weight-bold mb-2">NG</div>
                <p *ngIf="(qrcodeToken | async).statusCode === 200">上映会をご確認ください</p>
                <p *ngIf="(qrcodeToken | async).statusCode !== 200">QRコードをご確認ください<br>ステータスコード: {{ (qrcodeToken |
                    async).statusCode }}</p>
            </div>
        </div>
        <div *ngIf="!(qrcodeToken | async)" class="p-4 bg-dark text-white text-center">
            <div class="large-x-text font-weight-bold mb-2">Waiting</div>
            <p>QRコードを読み取ってください</p>
        </div>
    </div>
    <div class="border p-3 mb-3">
        <p>{{ (screeningEvent | async).name.ja }}</p>
        <p>{{ (screeningEvent | async).location.name.ja }}</p>
        <p>開場時間 {{ moment((screeningEvent | async).doorTime).format('MM/DD HH:mm') }}</p>
        <p>上映時間 {{ moment((screeningEvent | async).startDate).format('HH:mm') }} - {{
            moment((screeningEvent | async).endDate).format('HH:mm') }}</p>
    </div>
    <div class="border p-3">
        <p>未送信件数: {{ (qrcodeTokenList | async).length }}</p>
        <p class="small-text">※1分に1回送信されます</p>
    </div>
</div>